<?xml version='1.0' encoding='utf-8'?>
<widget id="com.veritasclass.mobile" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Veritas Class</name>
    <description>
        Veritas is a married young adults class at Houston's First Baptist Church.
    </description>
    <author email="b.radyholt@gmail.com" href="http://www.geekytidbits.com">
        Brady Holt
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/icon096xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>
